<ion-header-bar class="bar-royal">
    <h2 class="title">Menus</h2>
</ion-header-bar>
<ion-view hide-nav-bar="true">


    <ion-content>
        <img src="../img/iloilo-page-bg.jpg" class="responsive-image">






        <div class="row icon-wrapper">
            <div class="col container-side-menu">
                 <a href="#tabs/menu/{{pages[0].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[0].icon}}"></i> {{pages[0].name}}
                </button>
                </a>     
            </div>
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[1].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[1].icon}}"></i> {{pages[1].name}}
                </button>
                </a>
            </div>
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[2].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[2].icon}}"></i> {{pages[2].name}}
                </button>
                </a>
            </div>

        </div>

        <div class="row icon-wrapper">
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[3].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[3].icon}}"></i> {{pages[3].name}}
                </button>
                </a>
            </div>


            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[4].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[4].icon}}"></i> {{pages[4].name}}
                </button>
                </a>
            </div>
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[5].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[5].icon}}"></i> {{pages[5].name}}
                </button>
                </a>
            </div>
        </div>


        <div class="row icon-wrapper">
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[6].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[6].icon}}"></i> {{pages[6].name}}
                </button>
                </a>
            </div>
            <div class="col container-side-menu">
                <a href="#tabs/menu/{{pages[7].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[7].icon}}"></i> {{pages[7].name}}
                </button>
                </a>
            </div>
            <div class="col container-side-menu">
                  <a href="#tabs/menu/{{pages[8].id}}">
                <button class="big button button-icon">
                    <i class="icon {{pages[8].icon}}"></i> {{pages[8].name}}
                </button>
                </a>
            </div>

        </div>




    
    
    <!--
        <ion-list>
            <ion-item ng-repeat="page in pages" href="#tabs/menu/{{page.id}}" class="item item-icon-left">
                <i class="icon ion-email"></i>
                {{page.name}}

            </ion-item>
            
        </ion-list>
-->
    </ion-content>
</ion-view>