<ion-view view-title="Details">
    <ion-content>
        <!--
<ion-list>
<ion-item class="item-text-wrap" ng-repeat="page in pages | filter:{id:whichpage}">
    
          <h2>{{page.subdetails[0].subname}}</h2> 
         
      </ion-item>
    

</ion-list>
-->
<!--

        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="page in pages | filter:{id:whichpage}">
                <ion-list>
                    <ion-item class="item-text-wrap" ng-repeat="details in page.subdetails">
                        {{details.subname}}

                    </ion-item>
                </ion-list>
            </ion-item>
-->


            <div data-ng-controller="TestController">
                <!-- your view content -->
                <div ng-bind-html="tests[whichpage].details"></div>
            </div>


    </ion-content>
</ion-view>