/* Empty. Add your own CSS if you like */

/* CSS FOR FONYT AWESOME */


/* TEMPORARY CSS FOR COLOR SCHEME */

.bar.bar-royal {
    border-color: #5C1074;
    background-color: #5C1074;
    background-image: none;
    color: #fff;
}
.tabs-royal > .tabs, .tabs.tabs-royal {
    border-color: #5C1074;
    background-color: #5C1074;
    background-image: none;
    color: #fff;
}
/* END */




/* CSS FOR MENU */

.container-side-menu .button {
  font-size: 12px;
  line-height: 12px; // Add
}
.container-side-menu .button-icon .icon {
  display: block;
  font-size: 30px;
  margin-bottom: 3px !important;
}

/* center col in menu only */
.col.container-side-menu{
    text-align:center;
}


/* make menu icon black on hover */
.container-side-menu .button:hover {
    color: #000;
    text-decoration: none;
   
}


/* ADD MARGIN BUTTOM ON EVERY MENU ROW */
.icon-wrapper{
    margin-bottom:10px;
}







/* CSS FOR FOOTER TABS */
.tabs-royal .tabs {
    padding-top: 5px;
}

/* make otabs icon smaller */
.tabs-royal .tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 24px;
    font-size: 24px;
}





/* icon in menu css */

.big.button-icon .icon:before, .big.button-icon.icon:before {
    font-size: 42px !important;
}


@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}





.icon-cutlery:before {
    font-family: "fontawesome";
    content: "\f000";
}








.splash {
    background: url(../img/bg4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.branding{
    margin:0 auto;
   
    text-align:center;
    margin-top:15%
}

.branding img{
    width:50%;
    min-width:300px;
}


/* CSS FOR B:UE FOOTER */

.thefooter.tabs-positive > .tabs {
    border-color: transparent !important;
    background-color: #024cca !important;
    background-image: none !important;
    color: #fff;
   
}


/* RESPONSIVE IMAGE */
.responsive-image{
 width:100%;
    height:auto;
  
}

.center-text{
    text-align:center;
}

.percent33{
    width:25%;
    position: relative;
    display:inline-block;
}

/* icon holder css */
.icon-wrapper .icon-holder {
    /* border:1px solid #343434 !important; */
    padding:10px;
    margin:5px;
    color:#343434;
    
    background-size: 100% 200%;
   
    background-image: linear-gradient(to bottom, #fff 90%, #024cca 130%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
  
}

.icon-wrapper .icon-holder:hover{
       background-position: 0 -120%;
}


.icon-holder:hover{
 /*  background: #006c35; */
}
.icon-holder a{
    text-decoration:none;
    color:#343434;
    display:inline-block;
    background-color:#343434;
}

a>div.center-text {
    text-align: center;
    background: #fff;
    margin-top: -5px !important;
    padding-top: 0 !important;
}

.icon-holder a:hover{
    background-color:#0c60ee;
    color:#0c60ee;
}



.home-tagline{
    
    color:#fff;
    text-align:center;
    width:70%;
    margin:0 auto;
}



/* CSS FOR MAP SECTION */

.content-holder{
 text-align-last: left;
    font-size:11px;
    font-weight: 300;
  word-break: break-all;
  
    color:black;
}

.content-holder .item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #191919;
    color: #fff;
    font-weight: 400;
}



.card .item.item-text-wrap {
    font-size: 14px;
    color: #0c0c0c;
    text-align: left;
    word-break: initial;
}

strong{
    color:#5C1074;
}